<% include ../partials/header.ejs %>

<!-- Content for the Add Item Page -->
<div class="background_form"></div>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6" id="centerForm_C">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="displayName">Display Name:</label>
                    <input type="text" class="form-control" name="displayName" placeholder="Enter Display Name"
                        id="displayName" required autocomplete="off" value="<%= displayName %>">
                </div>
                <div class="form-group">
                        <fieldset class="form-group dropdown">
                            <label for="restaurantDropdown">Restuarant Name:</label>
                            <br />
                            <button class="btn btn-outline-primary dropdown-toggle" type="button" id="restaurantDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" name="restaurantDropdown">
                            Select Restaurant
                        </button>
                            <div class="dropdown-menu" aria-labelledby="restaurantName">
                                <a class="dropdown-item" a href="#" id="fdBackResBK">Burger King</a>
                                <a class="dropdown-item" a href="#" id="fdBackResMCD">Mcdonald's</a>
                                <a class="dropdown-item" a href="#" id="fdBackResPP">Pizza Pizza</a>
                                <a class="dropdown-item" a href="#" id="fdBackResTH">Tim Hortons</a>
                                <a class="dropdown-item" a href="#" id="fdBackResSP">Smokes Poutinerie</a>
                                <a class="dropdown-item" a href="#" id="fdBackResSW">Subway</a>
                            </div>
                            <input type="text" class="form-control" hidden="true" name="restaurantName" placeholder="Choose Restaurant" id="restaurantName" required autocomplete="off">
                        </fieldset>
                    </div>
                <div class="form-group">
                    <label for="comment"> comment:</label>
                    <textarea row="5" type="text" class="form-control" name="comment" placeholder="Enter Comment"
                        id="comment" required autocomplete="off"></textarea>
                </div>

                <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">
                    <i class="fas fa-edit"></i> Submit</button>
                <a href="/review-list" class="btn btn-warning" style="margin-bottom: 10px;">
                    <i class="fas fa-undo"></i> Cancel</a>
            </form>


        </div>
    </div>
</div>





<% include ../partials/footer.ejs %>