<% include ./partials/header.ejs %>

    <!-- <%=time.day%>
<%=time.hour%>
<%=time.minute%>
<%=time.second%> -->

    <img src="Content/Images/banner.png" class="img-fluid banner" alt="Responsive image">
    <div class="d-flex flex-row justify-content-around flex-wrap card-container   rounded">
       
        <div class="custom card flex-sm-fill shadow rounded" id="restaurant-card">
            <% if(
                        (time.hour >= 16 || time.hour < 8) || 
                        (time.day == "Sunday" || time.day == "Saturday")
                    ){ %>
                <img src="/Content/Images/restaurants/burgerking_closed.png" alt="burgerking" class="img-thumbnail rounded">
                <% } else { %>
                    <a href="/item-list/Burger King" class="img-thumbnail rounded"><input id="img-bk" name="Burger King" type="image" src="/Content/Images/restaurants/burgerking.png"  alt="burgerking" value="Burger King"></a>
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title ">Burger King</h5>
                            <p class="card-subtitle mb-2 text-muted text-size-small">
                                <span class="text-black-50"><i class="fas fa-coffee "></i><span class="px-2">Coffee</span></span>

                                <span class="text-black-50"><i class="fas fa-utensils"></i><span class="px-2">Combos</span></span>
                            </p>
                            <span class="card-text text-black-50">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </span>
                        </div>
        </div>

        <div class="custom card flex-sm-fill shadow" id="restaurant-card">
            <% if(
                        (time.hour >= 16 || time.hour < 8) || 
                        (time.day == "Sunday" || time.day == "Saturday")
                    ){ %>
                <img src="/Content/Images/restaurants/mcdonalds_closed.png" alt="macdonalds" class="img-thumbnail rounded">
                <% } else { %>
                    <a href="/item-list/McDonalds" class="img-thumbnail rounded"><input id="img-mc" name="McDonalds" type="image" src="/Content/Images/restaurants/mcdonalds.png"  alt="macdonalds"></a>
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title">McDonald's</h5>
                            <p class="card-subtitle mb-2 text-muted text-size-small">
                                <span class="text-black-50"><i class="fas fa-coffee "></i><span class="px-2">Coffee</span></span>
                                <span class="text-black-50"><i class="fas fa-hamburger"></i><span class="px-2">Burgers</span></span>
                                <span class="text-black-50"><i class="fas fa-leaf"></i><span class="px-2">Vegan</span></span>
                            </p>
                            <span class="card-text text-black-50">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </span>
                        </div>
        </div>
        <div class="custom card flex-sm-fill shadow" id="restaurant-card">
            <% if(
                        (time.hour >= 16 || time.hour < 8) || 
                        (time.day == "Sunday" || time.day == "Saturday")
                    ){ %>
                <img src="/Content/Images/restaurants/pizzapizza_closed.png" alt="pizzapizza" class="img-thumbnail rounded">
                <% } else { %>
                    <a href="/item-list/Pizza Pizza" class="img-thumbnail rounded"><input id="img-pza" name="Pizza Pizza" type="image" src="/Content/Images/restaurants/pizzapizza.png"  alt="pizzapizza"></a>
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title">Pizza Pizza</h5>
                            <p class="card-subtitle mb-2 text-muted text-size-small">
                                <span class="text-black-50"><i class="fas fa-pizza-slice"></i><span class="px-2">Pizza</span></span>
                                <span class="text-black-50"><i class="fab fa-gulp"></i><span class="px-2">Pop</span></span>
                            </p>
                            <span class="card-text text-black-50">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </span>
                        </div>
        </div>

        <div class="custom card flex-sm-fill shadow" id="restaurant-card">
            <% if (
                        (time.day != "Sunday") && 
                        (
                            (time.day == "Saturday" && time.hour >= 8 && time.hour < 15) ||
                            (
                                ((time.hour == 7 && time.minute >= 30) || time.hour >= 8) && 
                                (
                                    (time.day == "Friday" && time.hour < 17) ||
                                    (time.day != "Friday" && time.hour < 19) 
                                )
                            )
                        ) 
                    ) { %>
                <a href="/item-list/Tim Hortons" class="img-thumbnail rounded"><input id="img-th" name="Tim Hortons" type="image" src="/Content/Images/restaurants/timhortons.png"  alt="timhortons"></a>
                <% } else { %>
                    <img src="/Content/Images/restaurants/timhortons_closed.png" alt="timhortons" class="img-thumbnail rounded">
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title">Tim Hortons</h5>
                            <p class="card-subtitle mb-2 text-muted text-size-small">
                                <span class="text-black-50"><i class="fas fa-coffee "></i><span class="px-2">Coffee</span></span>

                                <span class="text-black-50"><i class="fas fa-utensils"></i><span class="px-2">Combos</span></span>
                            </p>
                            <span class="card-text text-black-50">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </span>
                        </div>
        </div>
        <div class="custom card flex-sm-fill shadow" id="restaurant-card">
            <% if (
                        (time.day != "Sunday" && time.day != "Saturday") && 
                        (
                            ((time.hour == 10 && time.minute >= 30) || time.hour >= 11) &&
                            ((time.hour == 16 && time.minute < 30) || time.hour <= 15)
                        )
                ){ %>
                <a href="/item-list/Smokes Poutinerie" class="img-thumbnail rounded"><input id="img-th" name="Smokes Poutinerie" type="image" src="/Content/Images/restaurants/smokespoutinerie.png"  alt="smokespoutinerie"></a>
                <% } else { %>
                    <img src="/Content/Images/restaurants/smokespoutinerie_closed.png" alt="smokespoutinerie" class="img-thumbnail rounded">
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title">Smokes Poutinerie</h5>
                            <p class="card-subtitle mb-2 text-muted text-size-small">

                                <span class="text-black-50"><i class="fab fa-gulp"></i><span class="px-2">Pop</span></span>

                                <span class="text-black-50"><i class="fas fa-utensils"></i><span class="px-2">Combos</span></span>
                            </p>
                            <span class="card-text text-black-50">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </span>
                        </div>
        </div>
        <div class="custom card flex-sm-fill shadow" id="restaurant-card">
            <% if (
                        (time.day != "Sunday" && time.day != "Saturday") && 
                        (
                            ((time.hour == 10 && time.minute >= 30) || time.hour >= 11) && 
                            (
                                (time.day == "Friday" && time.hour < 17) ||
                                (time.day != "Friday" && time.hour < 19) 
                            )
                        ) 
                    ) { %>
                <a href="/item-list/Subway" class="img-thumbnail rounded"><input id="img-th" name="Subway" type="image" src="/Content/Images/restaurants/subway.png"  alt="subway"></a>
                <% } else { %>
                    <img src="/Content/Images/restaurants/subway_closed.png" alt="subway" class="img-thumbnail rounded">
                    <% } %>
                        <div class="card-body">
                            <h5 class="card-title">Subway</h5>
                            <p class="card-subtitle mb-2 text-muted text-size-small">

                                <span class="text-black-50"><i class="fab fa-gulp"></i><span class="px-2">Pop</span></span>

                                <span class="text-black-50"><i class="fas fa-utensils"></i><span class="px-2">Combos</span></span>
                            </p>
                            <span class="card-text text-black-50">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </span>
                        </div>
        </div>
    </div>
    </div>
    </div>

    <% include ./partials/footer.ejs %>