<% include ./partials/header.ejs %>

<form method="POST">
        <div class="container">
            <img src="..." class="img-fluid" alt="Responsive image">
        </div>
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="col">
                        <div class="card" style="width: 15rem;">
                                <input id="img-bk" name="Burger King" type="image" src="/Content/Images/restaurants/burgerking.png"
                                    class="img-thumbnail rounded" alt="burgerking" value="Burger King">
                                <div class="card-body">
                                  <h5 class="card-title">Burger King</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                </div>
            </div>
            <div class="col-2">
            </div>
            <div class="col">
                <div class="col">
                        <div class="card" style="width: 15rem;">
                                <input id="img-mc" name="McDonalds" type="image" src="/Content/Images/restaurants/mcdonalds.png"
                        class="img-thumbnail rounded" alt="macdonalds">
                                <div class="card-body">
                                  <h5 class="card-title">Mcdonalds</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                </div>
            </div>
            <div class="col-2">
                <div class="col">
                        <div class="card" style="width: 15rem;">
                                <input id="img-pza" name="Pizza Pizza" type="image" src="/Content/Images/restaurants/pizzapizza.png"
                        class="img-thumbnail rounded" alt="pizzapizza">
                                <div class="card-body">
                                  <h5 class="card-title">Pizza Pizza</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                </div>
            </div>
            <div class="col-2">
                <div class="w-100"></div>
            </div>
            <div class="col">
                <div class="col">
                       <div class="card" style="width: 15rem;">
                        <input id="img-th" name="Tim Hortons" type="image" src="/Content/Images/restaurants/timhortons.png"
                        class="img-thumbnail rounded" alt="timhortons">
                        <div class="card-body">
                          <h5 class="card-title">Tim Hortons</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</form>

<% include ./partials/footer.ejs %>