<h3>Dear customer:</h3>
<p>Don't worry, you are seeing this page because our site is currently working under offline mode due to lost of
    connection, and you are trying to connect remote database.
    We will store all your request and send them back to server once the connection is resumed</p>
<p>Click <a href="/">here</a> to continue visiting our fantastic web</p>