<p>Don't worry, you are seeing this because the web is currently working under offline mode</p>
<p>We will store all your request and send to server once the connection is resumed</p>
<p>Click <a href="/">here</a> to continue</p>
