<% include ../partials/header.ejs %>

    <div class="center_chart">
        <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zgzli/embed/charts?id=98038040-7685-4f98-ad66-a8bf4635f0dc&tenant=4f7d454a-e34d-4427-829f-28149bb0f697"></iframe>

        <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zgzli/embed/charts?id=66151db6-b767-46da-a43b-98a453ad91eb&tenant=4f7d454a-e34d-4427-829f-28149bb0f697"></iframe>

        <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zgzli/embed/charts?id=8cbdb44f-9770-46d4-8754-494b4a824e87&tenant=4f7d454a-e34d-4427-829f-28149bb0f697"></iframe>

        <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zgzli/embed/charts?id=3b5cdc29-c9b4-48b5-900f-a6cbfbae1dd4&tenant=4f7d454a-e34d-4427-829f-28149bb0f697"></iframe>

        <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zgzli/embed/charts?id=87fd49e1-8715-4c0e-a9df-f560f7125ba4&tenant=4f7d454a-e34d-4427-829f-28149bb0f697"></iframe>

        <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zgzli/embed/charts?id=ab2eaa04-1d2d-435e-81fb-633c91ad6d37&tenant=4f7d454a-e34d-4427-829f-28149bb0f697"></iframe>
    </div>
    <% include ../partials/footer.ejs %>