<% include ../partials/header.ejs %>

<main class="container">
    <% if(messages.length > 0) { %>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <h1>Please Login</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" 
                    name="username" placeholder="Enter Username" 
                    id="username" required autofocus autocomplete="off">
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" 
                    name="password" placeholder="Enter Password" 
                    id="password" required autocomplete="off">
                    or
                    <a href="/register">Register Here</a>
                </fieldset>
                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<% include ../partials/footer.ejs %>