<% include ../partials/header.ejs %>

<div class="background_form"></div>

<main class="container">
    <% if(messages.length > 0) { %>
    <div class="alert alert-danger">
        <%= messages %>
    </div>
    <% } %>
    <div class="row">
        <div class="col-md-offset-4 col-md-4" id="centerForm">
            <h1>Account Registration</h1>
            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">CenId:</label>
                    <input type="text" class="form-control" name="username" placeholder="Enter Cen Id" id="username"
                        required autocomplete="off">
                </fieldset>
                <fieldset class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" placeholder="Enter Password"
                        id="password" required autocomplete="off">
                </fieldset>
                <fieldset class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" placeholder="Enter Email"
                        id="email" required autocomplete="off">
                </fieldset>
                <fieldset class="form-group">
                    <label for="displayName">Display Name:</label>
                    <input type="text" class="form-control" name="displayName" placeholder="Enter Display Name"
                        id="displayName" required autocomplete="off">
                </fieldset>
                <fieldset class="form-group dropdown">
                    <label for="accountTypeDropdown">Account Type:</label>
                    <br />
                    <button class="btn btn-outline-primary dropdown-toggle" type="button" id="accountTypeDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" name="accountTypeDropdown" value="value">
                        Select Account Type
                    </button>
                    <div class="dropdown-menu" aria-labelledby="accountType">
                        <a class="dropdown-item" a href="#">Student</a>
                        <a class="dropdown-item" a href="#">Faculty</a>
                        <a class="dropdown-item" a href="#">Restaurant</a>
                        <a class="dropdown-item" a href="#">Admin</a>
                    </div>
                    <input type="text" class="form-control" hidden="true"
                    name="accountType" placeholder="Enter Account Type" 
                    id="accountType" required autocomplete="off">
                </fieldset>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Register">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>
            </form>
        </div>
    </div>
</main>

<% include ../partials/footer.ejs %>